# Clerk Authentication
# Pegar em https://dashboard.clerk.com/
NEXT_PUBLIC_CLERK_PERK_...=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Convex
# Vá em dashboard.convex.dev → seu projeto → .env
CONVEX_DEPLOYMENT=...
NEXT_PUBLIC_CONVEX_URL=https://resilient-heron-594.convex.cloud
